KC_main = {
@default:H = @LEFT
@default:J , *cursor 1,1,4,B0000,5,B0011
@default:K , *cursor 1,-1,4,B0000,5,B0011
@default:L = @RIGHT
$replace:incsearch = @\J
$replace:mapG = @^PDOWN
$replace:omapG ,*script [?repopath:%sgu'ppmrepo']\ppm-vilikekeys\dist\operator.stay.js,G,"[?opeG:G]",[?limit:3000],[?digit:3]
$replace:omapQ ,*script [?repopath:%sgu'ppmrepo']\ppm-vilikekeys\dist\operator.stay.js,Q,"[?opeQ:Q]",[?limit:3000],[?digit:3]
}
KC_incs = {
$replace:incclose = @ESC
$replace:incmark ,%K"@^\A"%k"DOWN"
$replace:incmarkr ,%K"@^\A"%k"UP"
$replace:incnext = @DOWN
$replace:incprev = @UP
}
K_ppmViG = {
1 ,*js ":80002,ppx_resume",1
2 ,*js ":80002,ppx_resume",2
3 ,*js ":80002,ppx_resume",3
4 ,*js ":80002,ppx_resume",4
5 ,*js ":80002,ppx_resume",5
6 ,*js ":80002,ppx_resume",6
7 ,*js ":80002,ppx_resume",7
8 ,*js ":80002,ppx_resume",8
9 ,*js ":80002,ppx_resume",9
0 ,*js ":80002,ppx_resume",0
}

;-------------------------------------------------------------------------------
;$replace:<name> = <value>
;	patch.cfg内の$<name>の値がキーバインドとして置換される
;	patch.cfg内に$<name>が存在しない場合は設定されない
;@default:<name> = <default-value>
;	patch.cfg内の@<name>の値が<default-value>と置換される
;	patch.cfg内に@<name>が存在しない場合は<default-value>が設定される
;[?<name>:<default-value>]
;	patch.cfg内の?<name>の値と置換される
;	patch.cfg内に?<name>が存在しない場合は<default-value>が設定される
;
;※base.cfg内で項目削除(-|)を書いても無視される
; テーブルを削除したいときはpatch.cfgの[section]内に書く
;-------------------------------------------------------------------------------
; vim:tw=79:ts=8:sw=8:sts=0:norl:noet:fen:ft=PPxcfg

